<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeLaptop</title>
    <link rel="shortcut icon" href="img/hitaloco_logo_definitivo.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="styles2.css">
    <script src="https://kit.fontawesome.com/a6218ceabe.js" crossorigin="anonymous"></script>
</head>
<script id="chatBroEmbedCode">/* Chatbro Widget Embed Code Start */function ChatbroLoader(chats,async){async=!1!==async;var params={embedChatsParameters:chats instanceof Array?chats:[chats],lang:navigator.language||navigator.userLanguage,needLoadCode:'undefined'==typeof Chatbro,embedParamsVersion:localStorage.embedParamsVersion,chatbroScriptVersion:localStorage.chatbroScriptVersion},xhr=new XMLHttpRequest;xhr.withCredentials=!0,xhr.onload=function(){eval(xhr.responseText)},xhr.onerror=function(){console.error('Chatbro loading error')},xhr.open('GET','https://www.chatbro.com/embed.js?'+btoa(unescape(encodeURIComponent(JSON.stringify(params)))),async),xhr.send()}/* Chatbro Widget Embed Code End */ChatbroLoader({encodedChatId: '593ia'});</script>
<body>
    <div class="header">
        <nav class="navbar">
            <a href="/"><h1 class="logo"><img id="logo" src="img/hitaloco_logo_definitivo.png" style="height: 75px;"><h1></a>
            <label class="label_hamburguesa" for="menu_hamburguesa">
                <i class="fa-solid fa-bars" style="font-size: 20px;"></i>
            </label>
            <input class="menu_font" type="checkbox" id="menu_hamburguesa">
            <ul class="ul_links">
                <li  class="li_links">
                    <a href="/" class="link">Inicio</a>
                </li>
                <li class="li_links">
                    <a href="/laptops" class="link">Laptops</a>
                </li>
                <li  class="li_links">
                    <a href="/nosotros" class="link">Nosotros</a>
                </li>
                <li  class="li_links">
                    <a href="/contacto" class="link">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
    <section class="hero">
        <div class="hero-content">
            <div class="text-zone">
                <h1 class="hero-title">NodeLaptop</h1>
                <p class="hero-subtitle">Tu laptop ideal, hoy. 
                    <span class="practica">Poder</span> y 
                    <span class="actualizada">Sin limites</span>
                </p>
                <div class="botones">
                    <a href="#" class="btn-whatsapp">
                        <i class="fa-brands fa-whatsapp"></i> Contáctanos
                    </a>
                </div>
            </div>
            <div class="image-zone">
                <img id="laptops" src="img/laptops.png" alt="Ilustración educativa" class="hero-image" style="height: 300px; ">
            </div>
        </div>
    </section>

    <section class="beneficios">
        <div class="beneficio">
          <i class="fas fa-credit-card"></i>
          <div>
            <h3>Hasta 12 cuotas</h3>
            <p>abonando con tarjetas de crédito</p>
          </div>
        </div>
        <div class="beneficio">
          <i class="fas fa-truck"></i>
          <div>
            <h3>Envíos a todo el país</h3>
            <p>a través de Olva Courier</p>
          </div>
        </div>
        <div class="beneficio">
          <i class="fas fa-shield-alt"></i>
          <div>
            <h3>Garantía oficial</h3>
            <p>de hasta 36 meses en todos los productos</p>
          </div>
        </div>
      </section>
    <section class="cards">
        <div class="card">
            <div class="card-info">
                <h3 class="card-title">Laptop 1</h3>
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, itaque?</p>
            </div>
            <div class="card-image-zone">
                <img src="img/laptop1.png" alt="Laptop 1" class="card-image">
            </div>
        </div>
        <div class="card">
            <div class="card-info">
                <h3 class="card-title">Laptop 2</h3>
                <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, ratione?</p>
            </div>
            <div class="card-image-zone">
                <img src="img/laptop2.png" alt="Laptop 2" class="card-image">
            </div>
        </div>
        <div class="card">
            <div class="card-info">
                <h3 class="card-title">Laptop 3</h3>
                <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ducimus!</p>
            </div>
            <div class="card-image-zone">
                <img src="img/laptop3.png" width="50px" alt="Laptop 3" class="card-image">
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-container">
          <div class="footer-about">
            <h3>NodeLaptop</h3>
            <p>Somos tu tienda confiable en laptops de alto rendimiento, ideales para trabajo, estudio o gaming.</p>
          </div>      
          <div class="footer-contact">
            <h4>Contacto</h4>
            <p>Email: contacto@nodeLaptop.com</p>
            <p>Tel: +51 999 888 777</p>
            <p>Lima, Perú</p>
          </div>
      
          <div class="footer-social">
            <h4>Síguenos</h4>
            <div class="social-icons">
              <a href="#"><i class="fa-brands fa-facebook" style="font-size: 25px; margin-right: 10px;"></i></a>
              <a href="#"><i class="fa-brands fa-instagram" style="font-size: 25px; margin-right: 10px;"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter" style="font-size: 25px; margin-right: 10px;"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2025 NodeLaptop. Todos los derechos reservados.</p>
        </div>
      </footer>
</body>
</html>