<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptops</title>
    <link rel="stylesheet" href="styles2.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="img/hitaloco_logo_definitivo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a6218ceabe.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="header">
        <nav class="navbar">
            <a href="/"><h1 class="logo"><img id="logo" src="img/hitaloco_logo_definitivo.png" style="height: 75px;"><h1></a>
            <label class="label_hamburguesa" for="menu_hamburguesa">
                <i class="fa-solid fa-bars" style="font-size: 20px;"></i>
            </label>
            <input class="menu_font" type="checkbox" id="menu_hamburguesa">
            <ul class="ul_links">
                <li  class="li_links">
                    <a href="/" class="link">Inicio</a>
                </li>
                <li class="li_links">
                    <a href="/laptops" class="link">Laptops</a>
                </li>
                <li  class="li_links">
                    <a href="/nosotros" class="link">Nosotros</a>
                </li>
                <li  class="li_links">
                    <a href="/contacto" class="link">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
    <section class="cards">
        <div class="card">
            <div class="card-info">
                <h3 class="card-title">Laptop 1</h3>
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, itaque?</p>
            </div>
            <div class="card-image-zone">
                <img src="img/laptop1.png" alt="Laptop 1" class="card-image">
            </div>
        </div>
        <div class="card">
            <div class="card-info">
                <h3 class="card-title">Laptop 2</h3>
                <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, ratione?</p>
            </div>
            <div class="card-image-zone">
                <img src="img/laptop2.png" alt="Laptop 2" class="card-image">
            </div>
        </div>
        <div class="card">
            <div class="card-info">
                <h3 class="card-title">Laptop 3</h3>
                <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ducimus!</p>
            </div>
            <div class="card-image-zone">
                <img src="img/laptop3.png" width="50px" alt="Laptop 3" class="card-image">
            </div>
        </div>
        <div class="card">
            <div class="card-info">
            </div>
            <div class="card-image-zone">
                <img src="img/esperaa.png"  class="card-image">
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-container">
          <div class="footer-about">
            <h3>NodeLaptop</h3>
            <p>Somos tu tienda confiable en laptops de alto rendimiento, ideales para trabajo, estudio o gaming.</p>
          </div>      
          <div class="footer-contact">
            <h4>Contacto</h4>
            <p>Email: contacto@nodeLaptop.com</p>
            <p>Tel: +51 999 888 777</p>
            <p>Lima, Perú</p>
          </div>
      
          <div class="footer-social">
            <h4>Síguenos</h4>
            <div class="social-icons">
              <a href="#"><i class="fa-brands fa-facebook" style="font-size: 25px; margin-right: 10px;"></i></a>
              <a href="#"><i class="fa-brands fa-instagram" style="font-size: 25px; margin-right: 10px;"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter" style="font-size: 25px; margin-right: 10px;"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2025 NodeLaptop. Todos los derechos reservados.</p>
        </div>
      </footer>
</body>
</html>