<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="img/hitaloco_logo_definitivo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a6218ceabe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <div class="header">
        <nav class="navbar">
            <a href="/"><h1 class="logo"><img id="logo" src="img/hitaloco_logo_definitivo.png" style="height: 75px;"><h1></a>
            <label class="label_hamburguesa" for="menu_hamburguesa">
                <i class="fa-solid fa-bars" style="font-size: 20px;"></i>
            </label>
            <input class="menu_font" type="checkbox" id="menu_hamburguesa">
            <ul class="ul_links">
                <li  class="li_links">
                    <a href="/" class="link">Inicio</a>
                </li>
                <li class="li_links">
                    <a href="/laptops" class="link">Laptops</a>
                </li>
                <li  class="li_links">
                    <a href="/nosotros" class="link">Nosotros</a>
                </li>
                <li  class="li_links">
                    <a href="/contacto" class="link">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="imagenes" data-text="Texto personalizado">
        <div class="imagen-galeria">
            <img src="img/img1.png" alt="">
            <div class="imagen-texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, molestias.</p>
            </div>
        </div>
        <div class="imagen-galeria">
            <img src="img/img2.png" width="100px" alt="">
            <div class="imagen-texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, molestias.</p>
            </div>
        </div>
        <div class="imagen-galeria">
            <img src="img/img3.png" alt="">
            <div class="imagen-texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, molestias.</p>
            </div>
        </div>
        <div class="imagen-galeria">
            <img src="img/img4.png" width="300px" alt="">
            <div class="imagen-texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, molestias.</p>
            </div>
        </div>
        <div class="imagen-galeria">
            <img src="img/img5.png" alt="">
            <div class="imagen-texto">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, molestias.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-container">
          <div class="footer-about">
            <h3>NodeLaptop</h3>
            <p>Somos tu tienda confiable en laptops de alto rendimiento, ideales para trabajo, estudio o gaming.</p>
          </div>      
          <div class="footer-contact">
            <h4>Contacto</h4>
            <p>Email: contacto@nodeLaptop.com</p>
            <p>Tel: +51 999 888 777</p>
            <p>Lima, Perú</p>
          </div>
      
          <div class="footer-social">
            <h4>Síguenos</h4>
            <div class="social-icons">
              <a href="#"><i class="fa-brands fa-facebook" style="font-size: 25px; margin-right: 10px;"></i></a>
              <a href="#"><i class="fa-brands fa-instagram" style="font-size: 25px; margin-right: 10px;"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter" style="font-size: 25px; margin-right: 10px;"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2025 NodeLaptop. Todos los derechos reservados.</p>
        </div>
      </footer>
</body>
</html>